<h1><strong>Results!</strong></h1>
<h3>You entered <strong>"<%= @sentences %>"</strong> and wanted to count how often <strong>"<%= @word %>"</strong> was said. You said it <strong><%= @outcome %></strong> time(s)</h3>

<a href="/">Back</a>
